

<script src="//embed.flowplayer.org/5.5.2/embed.min.js">
    <div class="flowplayer" style="width: 624px; height: 400px;">
          <video>
             <source type="video/mp4" src="/data/mp4.mp4">
          </video>
    </div>
</script>
